html
    head
        title 五笔形
        link(rel='stylesheet', href='style/main.css')

    body
        .container
            h1#title 五笔形
            form(action='/', method='GET')
                input(type='text', name='char')
                input(type='submit', value='搜索')
            div#results
                span#char #{char}:
                span#codes
                  ul
                    - for (var i=0; i< codes.length; i++) {
                      li= codes[i]
                    - }
