html
    head
        title 五笔形键码组合查询
        link(rel='stylesheet', href='style/main.css')

    body
        .container
            h1#title 五笔形
            h3 键码组合查询
            h4 请输入要搜查五笔键码组合的单字
            form(action='/', method='GET')
                input(type='text', name='char')
                input(type='submit', value='搜索')
            div#results
                div#char #{char}
                div#codes
                  ul
                    - for (var i=0; i< codes.length; i++) {
                      li= codes[i]
                    - }
        script(type='text/javascript')
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-36076367-1']);
            _gaq.push(['_trackPageview']);
            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
